<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 配置 $04_Servlet 
            servlet-name：当前配置的servlet起一个别名（名称）
    
    -->
    <servlet>
        <servlet-name>$04_Servlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$04_Servlet</servlet-class>
        <!--配置上该标签, serlvet就会在启动服务器的时候去完成实例化,并进行初始化操作
            标签内部需要写数值 正整数1-3在tomcat的web.xml被使用了,所以建议从4开始使用
        -->
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- servlet-mapping：给servlet设置一个映射地址
           servlet-name：给指定名称的servlet来配置映射地址
           url-pattern：具体serlvet的映射地址（访问路径）* 必须以/开头
    -->
    <servlet-mapping>
        <servlet-name>$04_Servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <!--  $05_Servlet -->
    <servlet>
        <servlet-name>$05_Servlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$05_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$05_Servlet</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <!--  $06_Servlet -->
    <servlet>
        <servlet-name>$06_Servlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$06_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$06_Servlet</servlet-name>
        <url-pattern>/servlet3</url-pattern>
    </servlet-mapping>

    <!--  $07_Servlet A B-->
    <servlet>
        <servlet-name>$07_ServletA</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$07_ServletA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$07_ServletA</servlet-name>
        <url-pattern>/aServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>$07_ServletB</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$07_ServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$07_ServletB</servlet-name>
        <url-pattern>/bServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>$08_ServletC</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$08_ServletC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$08_ServletC</servlet-name>
        <url-pattern>/cServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>$09_ServletD</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$09_ServletD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$09_ServletD</servlet-name>
        <url-pattern>/dServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>$10_ServletE</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$10_ServletE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$10_ServletE</servlet-name>
        <url-pattern>/eServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>$11_OneServlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$11_OneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$11_OneServlet</servlet-name>
        <url-pattern>/oneServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>$12_TwoServlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$12_TwoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>$12_TwoServlet</servlet-name>
        <url-pattern>/twoServlet</url-pattern>
    </servlet-mapping>

    <!-- 全局配置参数：所有的servlet都可以读取 -->
    <context-param>
        <param-name>encode</param-name>
        <param-value>UTF-8</param-value>
    </context-param>

    <!-- CountServlet -->
    <servlet>
        <servlet-name>$14_CountServlet</servlet-name>
        <servlet-class>com.javaweb.webbackend01.$14_CountServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>$14_CountServlet</servlet-name>
        <url-pattern>/countServlet</url-pattern>
    </servlet-mapping>

</web-app>