<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javaweb.webbackend02.dao.RoleMapper">

    <!--当前映射开启二级缓存-->
    <cache></cache>

    <select id="selectUid" resultType="com.javaweb.webbackend02.bean.Role" parameterType="int">
        SELECT * FROM sys_role r INNER JOIN sys_user_role ur oN ur.roleid =r.id
        where ur.userid=#{uid}
    </select>
</mapper>